@using CimenaCityProject.Models
@model CimenaCityProject.Models.HomeCinema

@{
    ViewBag.Title = "Details";
}

<h3>@Model.CinemaName Details</h3>
@{HomeCinemaContext db = new HomeCinemaContext();}
<div>
    <h4></h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Cinema Name 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CinemaName)
        </dd>

        <dt>
            English Name
        </dt>

        <dd>
            @Html.DisplayFor(model => db.CityList.Where(x => x.CityID == model.CityID).SingleOrDefault().EnglishName)
        </dd>

        <dt>
            Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Phone Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            <br />
        </dt>
        <dd>
            <br />
        </dd>
        <dt>
            Theatres
        </dt>
        <dd>
            @{
                <table>
                    @foreach (var theatr in db.Theaters)
                    {
                        if (Model.HomeCinemaID == theatr.HomeCinemaID)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayName(theatr.TheatersName)
                                </td>
                                <td>
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", "Theatres", new { id = theatr.MovieTheatersID }, null)
                                </td>
                            </tr>

                        }
                    }

                </table>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HomeCinemaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
