@using CimenaCityProject.Models;
@model IEnumerable<CimenaCityProject.Models.HomeCinema>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CinemaName)
        </th>
        <th>
           City
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            Theatres
        </th>
        <th></th>
    </tr>
    @{  HomeCinemaContext db = new HomeCinemaContext();}
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CinemaName)
        </td>
        <td>
                 @db.CityList.Where(x => x.CityID == item.CityID).SingleOrDefault().EnglishName
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @{ 
  
  int number =   db.Theaters.Count(x => x.HomeCinemaID == item.HomeCinemaID);
  @number 
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HomeCinemaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HomeCinemaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HomeCinemaID })
        </td>
    </tr>
}

</table>
