
@{
    ViewBag.Title = "Control Panel";
}

<h2>Control Panel</h2>


<table class="table">

    <tr>
        <td>
            @Ajax.ActionLink("Movie Page", "Index", "Movie", new AjaxOptions
                                                                           {
                                                                               HttpMethod = "GET",
                                                                               UpdateTargetId = "divResult",
                                                                               InsertionMode = InsertionMode.Replace
                                                                           })
        </td>
        <td>
            @Ajax.ActionLink("Home Cinema Page", "Index", "HomeCinema", new AjaxOptions
                                                                           {
                                                                               HttpMethod = "GET",
                                                                               UpdateTargetId = "divResult",
                                                                               InsertionMode = InsertionMode.Replace
                                                                           })
        </td>
        <td>
            @Ajax.ActionLink("Contract Page", "Index", "TimeScreening", new AjaxOptions
                                                                           {
                                                                               HttpMethod = "GET",
                                                                               UpdateTargetId = "divResult",
                                                                               InsertionMode = InsertionMode.Replace
                                                                           })
        </td>
        <td>
            @Ajax.ActionLink("Orders Page", "Index", "CheckOut", new AjaxOptions
                                                                           {
                                                                               HttpMethod = "GET",
                                                                               UpdateTargetId = "divResult",
                                                                               InsertionMode = InsertionMode.Replace
                                                                           })
        </td>
        <td>
            @Ajax.ActionLink("Statistic Page", "Index", "Statistic", new AjaxOptions
                                                                           {
                                                                               HttpMethod = "GET",
                                                                               UpdateTargetId = "divResult",
                                                                               InsertionMode = InsertionMode.Replace
                                                                           })
        </td>
        <td>
            @Ajax.ActionLink("User's Page", "Index", "Person", new AjaxOptions
                                                                               {
                                                                                   HttpMethod = "GET",
                                                                                   UpdateTargetId = "divResult",
                                                                                   InsertionMode = InsertionMode.Replace
                                                                               })
        </td>
    </tr>

</table>

<div id="divResult"></div>
