
@{
    ViewBag.Title = "Control Panel";
}

<h2 style="text-align:center">Control Panel</h2>

<br /><br />
<table class="table">

    <tr>
        <td>
            @Ajax.ActionLink("Movies", "Index", "Movie", new AjaxOptions
                                                                           {
                                                                               HttpMethod = "GET",
                                                                               UpdateTargetId = "divResult",
                                                                               InsertionMode = InsertionMode.Replace
                                                                           })
        </td>
        <td>
            @Ajax.ActionLink("Home Cinemas", "Index", "HomeCinema", new AjaxOptions
                                                                           {
                                                                               HttpMethod = "GET",
                                                                               UpdateTargetId = "divResult",
                                                                               InsertionMode = InsertionMode.Replace
                                                                           })
        </td>
        <td>
            @Ajax.ActionLink("Contracts", "Index", "TimeScreening", new AjaxOptions
                                                                           {
                                                                               HttpMethod = "GET",
                                                                               UpdateTargetId = "divResult",
                                                                               InsertionMode = InsertionMode.Replace
                                                                           })
        </td>
        <td>
            @Ajax.ActionLink("Orders", "Index", "CheckOut", new AjaxOptions
                                                                           {
                                                                               HttpMethod = "GET",
                                                                               UpdateTargetId = "divResult",
                                                                               InsertionMode = InsertionMode.Replace
                                                                           })
        </td>
        <td>
            @Ajax.ActionLink("Statistic ", "Index", "Statistic", new AjaxOptions
                                                                           {
                                                                               HttpMethod = "GET",
                                                                               UpdateTargetId = "divResult",
                                                                               InsertionMode = InsertionMode.Replace
                                                                           })
        </td>
        <td>
            @Ajax.ActionLink("User's ", "Index", "Person", new AjaxOptions
                                                                               {
                                                                                   HttpMethod = "GET",
                                                                                   UpdateTargetId = "divResult",
                                                                                   InsertionMode = InsertionMode.Replace
                                                                               })
        </td>
    </tr>

</table>

<div id="divResult"></div>

<br />
<div style="height:auto;width:700px">
    @{
        
        Html.RenderAction("GeneralStatistic");
    }
</div>
<br />
<br />