
@{
    ViewBag.Title = "Control Panel";
}

<h2>Control Panel</h2>


<table class="table">

    <tr>
        <td>
            @Ajax.ActionLink("Movies", "Index", "Movie", new AjaxOptions
                                                                           {
                                                                               HttpMethod = "GET",
                                                                               UpdateTargetId = "divResult",
                                                                               InsertionMode = InsertionMode.Replace
                                                                           })
        </td>
        <td>
            @Ajax.ActionLink("Home Cinemas", "Index", "HomeCinema", new AjaxOptions
                                                                           {
                                                                               HttpMethod = "GET",
                                                                               UpdateTargetId = "divResult",
                                                                               InsertionMode = InsertionMode.Replace
                                                                           })
        </td>
        <td>
            @Ajax.ActionLink("Contracts", "Index", "TimeScreening", new AjaxOptions
                                                                           {
                                                                               HttpMethod = "GET",
                                                                               UpdateTargetId = "divResult",
                                                                               InsertionMode = InsertionMode.Replace
                                                                           })
        </td>
        <td>
            @Ajax.ActionLink("Orders", "Index", "CheckOut", new AjaxOptions
                                                                           {
                                                                               HttpMethod = "GET",
                                                                               UpdateTargetId = "divResult",
                                                                               InsertionMode = InsertionMode.Replace
                                                                           })
        </td>
        <td>
            @Ajax.ActionLink("Statistic ", "Statistic", "Admin", new AjaxOptions
                                                                           {
                                                                               HttpMethod = "GET",
                                                                               UpdateTargetId = "divResult",
                                                                               InsertionMode = InsertionMode.Replace
                                                                           })
        </td>
        <td>
            @Ajax.ActionLink("User's ", "Index", "Person", new AjaxOptions
                                                                               {
                                                                                   HttpMethod = "GET",
                                                                                   UpdateTargetId = "divResult",
                                                                                   InsertionMode = InsertionMode.Replace
                                                                               })
        </td>
    </tr>

</table>

<div id="divResult"></div>
