@using CimenaCityProject.Models
@model CimenaCityProject.ViewModels.TimeScreeningData

@{
    ViewBag.Title = "Contracts";
    HomeCinemaContext db = new HomeCinemaContext();
}

    <h2>Contracts</h2>


    <p>

        @Ajax.ActionLink("Create", "CreateOneTimeScreen", new AjaxOptions()
{
    HttpMethod = "GET",
    UpdateTargetId = "divResult",
    InsertionMode = InsertionMode.Replace,
    LoadingElementId = "divLoading"
}) <span>&nbsp;| &nbsp;</span>
        @Html.ActionLink(" Return Control Panel", "ControlPanel", "Admin")

        <div id="divResult">
            @{
                if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    @ViewBag.Error
                }
            }
        </div>
        <hr />
    </p>


    @using (Html.BeginForm())
    {
        <div style="position: relative;width:500px; left: 30%; margin-left: -50px; margin-top: 25px; margin-bottom: 25px;">
            <div id="divLoading" style="display:none">
                <img src="~/Image/Elements/ajax-loader.gif" />
            </div>
            <div>
                <div>
                    <h4>Search</h4>
                    <label><b>Movie   </b></label>
                    @Html.TextBox("searchByMovie", null, new { id = "searchByMovie" })
                    <span>&nbsp;</span>
                    <label><b>Home Cinema </b></label>
                    @Html.TextBox("searchByHomeCinema", null, new { id = "searchByHomeCinema" })

                    <input type="submit" value="Search " />
                </div>
            </div>
            <hr />
        </div>
    }

<div id="divSortingResult">
    @Html.Partial("SortingIndexResult",Model)
</div>


<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.sigmacape.unobtrusive-1.1.2.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>

<script type="text/javascript">
    $(function () {
        $("#searchByMovie").autocomplete({
            source: '@Url.Action("GetMovieName")'
        });
    });
    $(function () {
        $("#searchByHomeCinema").autocomplete({
            source: '@Url.Action("GetHomeCinemaName")'
        });
    });

</script>