@*@model IEnumerable<CimenaCityProject.Models.Movie>*@

@using CimenaCityProject.Models
@model CimenaCityProject.ViewModels.MovieData

@{
    ViewBag.Title = "Home Page";

}


<style type="text/css">
    .marquee {
        height: 400px;
        width: 1200px;
        overflow:hidden
    }
</style>



<div  >
    <h4 style="float:none">Now in Cinema!</h4>

    <div >
        <div id="marquee" class="marquee"  >

            <table>
                <tr>
                    @for (int i = 0; i < 4; i++)
                    {
                        foreach (var item in Model.Movie)
                        {
                            <th>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </th>
                            <th>
                                @if (item.PictureSmall != null)
                                {
                                    var base64 = Convert.ToBase64String(item.PictureMedium);
                                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    <a href="@Url.Action("Movie", "Ecom", new { id = item.MovieID })">
                                        <img id="inputImage" src="@imgSrc" alt="@item.MovieID" />
                                    </a>
                                }
                                <br />
                                @Html.DisplayFor(model => item.MovieName)

                                <br />
                                <span>Genre - </span>

                                @Html.DisplayFor(model => item.Genre.EnglishName)
                                <br />
                                <span> Director - </span>

                                @Html.DisplayFor(model => item.Director)
                                <br />
                            </th>
                        }
                    }

                </tr>
            </table>

        </div>

    </div>

</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type='text/javascript' src='//cdn.jsdelivr.net/jquery.marquee/1.3.1/jquery.marquee.min.js'></script>
@*<script type='text/javascript' src="//assets.codepen.io/assets/common/stopExecutionOnTimeout-6c99970ade81e43be51fa877be0f7600.js"></script>*@
<script type="text/javascript">
    $('#marquee').marquee({
        diraction: 'right',
        duplicated: 'true',
        speed: 35000,
    })

    $('#marquee').mouseenter(function () {
        $('#marquee').marquee('pause')
    })
    $('#marquee').mouseleave(function () {
        $('#marquee').marquee('resume')
    })

</script>