@model CimenaCityProject.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>@Model.MovieName</h2>

<div>
    <h4>Details</h4>
	<hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(x=>x.MovieID)
        <dt>
            @Html.DisplayFor(model => model.MovieName)
        </dt>
        @*(me => me.MovieName == "MovieName").SingleOrDefault()*@
        <dd>
            @{
                if (Model .PictureLarge != null)
                {
                    var base64 = Convert.ToBase64String(Model.PictureLarge);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                    <img src="@imgSrc" alt="Unable to display" />
                    <br />
                }
            }
        </dd>
        <dt><br /></dt><dd><br /></dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt><br /></dt>
        <dd><br /></dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt><br /></dt>
        <dd><br /></dd>
        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt><br /></dt>
        <dd><br /></dd>
        <dt>
            @Html.DisplayNameFor(model => model.MovieDescrption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieDescrption)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
