@model CimenaCityProject.ViewModels.TimeScreeningDetails

@{
    ViewBag.Title = "Details";

}




<h2 style="align-content:center">Check Out Your <br /> Order</h2>

<div>

    <hr />
    <div>
        @if (!@Model.ifEror.IsEmpty())
        {
            @Model.ifEror.ToString()
        }
    </div>

    <dl class="dl-horizontal" style="text-align:match-parent">

        <dt>

        </dt>

        <dd style="text-align:inherit">
            @{
                if (Model.Movie.PictureLarge != null)
                {
                    var base64 = Convert.ToBase64String(Model.Movie.PictureLarge);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                    <img src="@imgSrc" alt="Unable to display" />
                    <br />
                }
            }
        </dd>

        <dt></dt>
        <dd><span style="font-size:large">..............</span></dd>

        <dt>
            Order Date
            <br /> <br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.OrderDate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Movie.MovieName)
            <br /><br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieShowTime.ShowTime)
            <br /><br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieShowTime.ShowTime.TimeOfDay)
        </dd>
        <dt>
            Screening Date
            <br /><br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeScreening.Date)
        </dd>

        <dt>
            Ticket Price
            <br /> <br />
        </dt>

        <dd>
            @((Model.TimeScreening.Price).ToString()) &#8362;
        </dd>



        @*chairs need to be here..*@
        <dt>
            ChairsOrdered
            <br /><br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalChairOrdered)
        </dd>

        <dt>
            Total Price
            <br /><br />
        </dt>

        <dd>
            @((Model.TimeScreening.Price * Model.TotalChairOrdered).ToString()) &#8362;
        </dd>

    </dl>
    <div style="position:relative;top:10px;left:180px">
        <div class="btn-group-lg">
            <p style="font-size:x-large">
                @Html.ActionLink("Confirm Your Order Now", "CheckoutComplete", new { id = Model.Event.EventID })
            </p>
        </div>
    </div>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
