@model CimenaCityProject.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event.cartID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.cartID)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.TimeScreening.TimeScreeningID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeScreening.TimeScreeningID)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.CartId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CartId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalChairsOrdered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalChairsOrdered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
