@model CimenaCityProject.ViewModels.TimeScreeningDetails

@{
    ViewBag.Title = "Details";
    
}




<h2>Details</h2>

<div>
    <h4>Order</h4>
	<hr />
    <div> @if (@Model.ifEror != null)
           {
               @Model.ifEror.ToString()
           } </div> 

    <dl class="dl-horizontal" style="text-align:match-parent">

        <dt>

        </dt>

        <dd style="text-align:inherit">
            @{
                if (Model.Movie.PictureLarge != null)
                {
                    var base64 = Convert.ToBase64String(Model.Movie.PictureLarge);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                    <img src="@imgSrc" alt="Unable to display" />
                    <br />
                }
            }
        </dd>

        <dt></dt>
        <dd><span style="font-size:large">..............</span></dd>

        <dt>
            Order Date
            <br /> <br /><br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.OrderDate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Movie.MovieName)
            <br /><br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.MovieName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.MovieDescrption)
            <br /><br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.MovieDescrption)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.MovieShowTime.ShowTime)
            <br /><br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieShowTime.ShowTime.TimeOfDay)
        </dd>
        <dt>
            Screening Date
            <br /><br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeScreening.Date)
        </dd>
        
        <dt>
            Ticket Price
            <br /> <br />
        </dt>

        <dd>
            @((Model.TimeScreening.Price).ToString()) &#8362;
        </dd>



        @*chairs need to be here..*@
        <dt>
           ChairsOrdered
            <br /><br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalChairOrdered)
        </dd>

        <dt>
            Total Price
            <br /><br />
        </dt>

        <dd>
            @((Model.TimeScreening.Price*Model.TotalChairOrdered).ToString()) &#8362;
        </dd>

    </dl>

</div>
<p>
    @Html.ActionLink("Confirm Your Order Now", "Edit", new { id = Model.TimeScreening.TimeScreeningID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
