@model CimenaCityProject.Models.Order

@{
    ViewBag.Title = "Edit";

    var TimeScreening = (SelectList)ViewBag.TimeScreeningList;
    
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.OrderID)
        @Html.HiddenFor(model => model.EventID)
        @Html.HiddenFor(model => model.CartId)
        @Html.HiddenFor(model => model.TimeScreeningID)


        <div class="form-group">
            @Html.LabelFor(model => model.TimeScreeningID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TimeScreeningList",TimeScreening,new{id=Model.TimeScreeningID, name=Model.TimeScreeningID})


                @*@Html.EditorFor(model => model.TimeScreeningID)*@
                @Html.ValidationMessageFor(model => model.TimeScreeningID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderDate)
                @Html.ValidationMessageFor(model => model.OrderDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
