@using CimenaCityProject.Models;
@model IEnumerable<CimenaCityProject.Models.Order>

@{
    ViewBag.Title = "Index";
    decimal price = 0;
    decimal totalIncome = 0;
    HomeCinemaContext db = new HomeCinemaContext();
    bool OrderComplete = false;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartId)
        </th>
     
        <th>
            @Html.DisplayNameFor(model => model.TimeScreeningID)
        </th>
      
        <th>
             Chairs Ordered
        </th>
        <th>
            Order Complete?
        </th>
        <th>
             Income
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CartId)
        </td>
     
        <td>
            @foreach (var Time in item.Event.MovieShowTime.TimeScreening)
            {
                if (item.TimeScreeningID == Time.TimeScreeningID)
                {
                    @Html.DisplayFor(time => Time.MovieShowTime.Movie.MovieName) <br />
                    @Html.DisplayFor(time => Time.MovieTheaters.TheatersName) <br />
                    @Html.DisplayFor(time => Time.MovieShowTime.ShowTime) <br />
                    price = Time.Price;
                    OrderComplete = db.CheckOut.Where(x => x.OrderID == item.OrderID).Select(x => x.ISOrderComplete).SingleOrDefault();
                    if (OrderComplete == true)
                    {
                        totalIncome += (item.TotalChairsOrdered * price);
                    }
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalChairsOrdered)
        </td>
        <td>

            @Html.DisplayFor(modelItem => OrderComplete)
        </td>

        <td>
          @( (item.TotalChairsOrdered*price).ToString())&#8362;
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderID })
        </td>
    </tr>
}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total income</td>
        <td> @totalIncome &#8362; </td>
        <td></td>
    </tr>

</table>
