@model CimenaCityProject.Models.MovieTheaters

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MovieTheaters</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MovieTheatersID)

        <div class="form-group">
            @Html.LabelFor(model => model.HomeCinemaID, "HomeCinemaID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("HomeCinemaID", String.Empty)
                @Html.ValidationMessageFor(model => model.HomeCinemaID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TheatersName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TheatersName)
                @Html.ValidationMessageFor(model => model.TheatersName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberHall, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberHall)
                @Html.ValidationMessageFor(model => model.NumberHall)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RowAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RowAmount)
                @Html.ValidationMessageFor(model => model.RowAmount)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
