@model CimenaCityProject.ViewModels.TimeScreeningDetails

@{
    ViewBag.Title = "Details";
    decimal TotalPrice = Model.TotalChairOrdered * Model.TimeScreening.Price;
    int orderID = Model.Order.OrderID;
    int EventID = Model.Event.EventID;
}


<h2 style="align-content:center">Check Out Your <br /> Order</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => EventID, new { @id = "id", @name = "id" })
    @Html.HiddenFor(model => model.cartID)
    @Html.HiddenFor(model => orderID, new { @id = "orderID", @name = "orderID" })
    @Html.HiddenFor(model => (TotalPrice), new { @id = "TotalPrice", @name = "TotalPrice" })

    <div>
        <div>
            @if (!@Model.ifEror.IsEmpty())
            {
                @Model.ifEror.ToString()
            }
        </div>
        <table class="dl-horizontal" style="text-align:match-parent">
            <tr>
                <th></th>
                <td style="text-align:inherit">
                    @{
                        if (Model.Movie.PictureLarge != null)
                        {
                            var base64 = Convert.ToBase64String(Model.Movie.PictureLarge);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                            <img src="@imgSrc" alt="Unable to display" />
                                            <br />
                        }
                    }
                </td>
            </tr>
            <tr>
                <th></th>
                <td><span style="font-size:large">..............</span></td>
            </tr>
            <tr>
                <th>Order Date</th>
                <td>@Html.DisplayFor(model => model.Order.OrderDate)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Movie.MovieName)</th>
                <td>@Html.DisplayFor(model => model.Movie.MovieName)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.MovieShowTime.ShowTime)</th>
                <td>@Html.DisplayFor(model => model.MovieShowTime.ShowTime.TimeOfDay)</td>
            </tr>
            <tr>
                <th> Screening Date</th>
                <td>@Html.DisplayFor(model => model.TimeScreening.Date)</td>
            </tr>
            <tr>
                <th>Ticket Price</th>
                <td>@((Model.TimeScreening.Price).ToString()) &#8362;</td>
            </tr>
            <tr>
                <th>ChairsOrdered</th>
                <td>@Html.DisplayFor(model => model.TotalChairOrdered)</td>
            </tr>
            <tr>
                <th>  Total Price</th>
                <td>
                    @Html.DisplayFor(model => TotalPrice, new { name = "TotalPrice", id = "Totalprice" }) &#8362;
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group" style="position:relative;top:10px;left:180px">
                        <div class="col-md-offset-2">
                            <input type="submit" id="Confirm" value="Confirm Your Order Now" class="btn btn-default" style="font-size:large" onclick="Post()" />
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>
}
<p>

    @Html.ActionLink("Home", "Index", "Home")
</p>

<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>

@*<script type="text/javascript">

    $('#Confirm').click(function () {
        $.ajax({
            url: '@Url.Action("CheckoutReview")',
            type: 'POST',
            data: JSON.stringify({
                orderID: $('#orderID').val(),
                TotalPrice: $('#TotalPrice').val(),
                cartID: $('#cartID').val(),
                EventID: $('#id').val()
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                alert("ok")
            },
            error: function (result) {
                alert(result.responseText + "no now ziv")
            }
        });
    });
   
</script>*@