@using CimenaCityProject.CustomHtmlHelper
@model CimenaCityProject.ViewModels.TimeScreeningDetails

@{
    ViewBag.Title = "Check Out Complete".ToString();

}

<div>

    <h2>Your Ticket's Order</h2>
    <h4>Secssesful!</h4>
    <hr />
    <div>

    </div>

    <dl class="dl-horizontal" style="text-align:match-parent">

        <dt>
        </dt>

        <dd style="text-align:inherit">
            @{
                if (Model.Movie.PictureLarge != null)
                {
                    var base64 = Convert.ToBase64String(Model.Movie.PictureLarge);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                    <img src="@imgSrc" alt="Unable to display" />
                    <br />
                }
            }
        </dd>

        <dt></dt>
        <dd><span style="font-size:large">..............</span></dd>
    </dl>
    <dl class="dl-horizontal" style="text-align:match-parent" id="printarea">
        <dt>
            Order Date
            <br /> <br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.MovieName)
            <br /><br />
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.MovieName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MovieShowTime.ShowTime)
            <br /><br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieShowTime.ShowTime.TimeOfDay)
        </dd>
        <dt>
            Screening Date
            <br /><br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeScreening.Date)
        </dd>

        <dt>
            Ticket Price
            <br /> <br />
        </dt>

        <dd>
            @((Model.TimeScreening.Price).ToString()) &#8362;
        </dd>

        @*chairs need to be here..*@
        <dt>
            ChairsOrdered
            <br /><br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalChairOrdered)
        </dd>

        <dt>
            Total Price
            <br /><br />
        </dt>

        <dd>
            @((Model.TimeScreening.Price * Model.TotalChairOrdered).ToString()) &#8362;
        </dd>
        <dt>
            Verifacation Code
        </dt>
        <dd>
            <div>
                <div style="align-items:flex-end">
                    @Html.QRCode(Model.cartID)
                </div>
            </div>
        </dd>
    </dl>
    <div>
        <div class="form-group" style="position:relative;left:240px;">
            <input type="button" value="Print Your Ticket" class="btn" onclick="PrintDoc()" />
            <br />
        </div>
    </div>
</div>


<p>
    @Html.ActionLink("Home", "Index", "Home")
</p>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    /*--This JavaScript method for Print command--*/
    function PrintDoc() {
        var toPrint = document.getElementById('printarea');
        var popupWin = window.open('', '_blank');
        popupWin.document.open();
        popupWin.document.write('<html><title>::Print Your Tickets::</title></head><body onload="window.print()">')
        popupWin.document.write(toPrint.innerHTML);
        popupWin.document.write('</html>');
        popupWin.document.close();
    }

</script>